{% extends 'base.html' %}

{% block title %}
    Settings
{% endblock %}

{#

#VER A 2 20210104 Bisnode 20210412
{
   #TRANS 1930 {} -253.00
   #TRANS 1799 {} 253.00
}

#}
{% block body %}
    <main class="mt-3">
        <script src="{{ url_for('static',filename='js/settings.js') }}"></script>
        <div class="mb-3 justify-content-end">
            <a href="javascript:settings()" class="btn btn-primary active mb-2" aria-current="page">Skapa ny filter</a>
            <div id="label_for_huvudkonto" class="form-text">Lägg till och nya regler</div>
        </div>
        <div id="new_settings_form"></div>

        <div id="label_for_huvudkonto" class="form-text" style="color: aquamarine">
            <div id="label_for_huvudkonto" class="form-text" style="color: aquamarine">
                Skriv in konto nummer och lägg till nyckel ord elle nyckel fras som passar den här konto
                <br>Använd | - täcken för att separera nyckel fras
                <br>OBS!!! Använd inte samma fras för olycka konto nummer,
                <br><strong>Bara en filter per konto</strong>
            </div>
            {% if settings|length > 0 %}
                {% for setting in settings %}
                    <form method="post" id="settings" action="/settings/{{ setting.quote_id }}/edit/">
                        <div class="mb-1" style="text-align: right">
                            <button class="btn btn-primary" type="submit">
                                <i class="bi bi-arrow-repeat"> updater</i>
                            </button>
                            <a class="btn btn-primary" href="/settings/{{ setting.quote_id }}/delete/" role="button">
                                <i class="bi bi-trash"> radera </i>
                            </a>
                        </div>
                        <div class="input-group mb-1">
                            <input type="text"
                                   class="input-group-text col-sm-1 justify-content-start"
                                   name="konto_n"
                                   style="height: 38px; color: red;"
                                   value={{ setting.konto }}
                            >
                            <textarea class="form-control col-lg justify-content-center"
                                      name="filter_list">{{ setting.filter }}
                        </textarea>
                        </div>
                    </form>
                {% endfor %}
            {% endif %}
        </div>
    </main>
{% endblock %}